#header {
    dock: top;
    text-align: center;
    width: 100%;
    background: orange;
    color: black;
}

#info {
    dock: left;
    align: left middle;
    text-align: center;
    width: 22%;
    background: orange;
    margin: 1;
    padding: 1;
    color: black;
    border: round black;
}

Button:focus {
    text-style: bold;
}

#board {
    layout: grid;
    align: center middle;
    grid-size: 4 4;
    grid-rows: 5;
    grid-columns: 10;
    grid-gutter: 0;
}

.cell {
    min-height: 1;
    margin: 0;
    padding: 1;
}

#control {
    dock: right;
    align: left middle;
    width: 25%;
}

