#header {
    text-align: center;
    color: black;
    background: orange;
    width: 100%;
}

#question {
    border: blank;
    padding: 0 1 0 1;
    width: 100%;
}

#user_cmd_output {
    min-height: 3;
    margin-bottom: 1;
    width: 100%;
}

.container {
    height: auto;
    align: center middle;
}

.ip_op {
    width: 50%;
}
