Cheatsheet {
    align: center middle;
}

.code_container {
    height: auto;
    border: solid brown;
}

.code_ip {
    padding: 0 1 0 1;
    margin: 0 1 0 1;
    border: none;
    background: silver;
}

.code_op {
    padding: 0 1 1 1;
    margin: 0 1 0 1;
    border: none;
    background: lightgray;
    width: 100%;
}

Help {
    align: center middle;
}

.header {
    dock: top;
    text-align: center;
    color: black;
    background: orange;
    width: 100%;
}

.container {
    height: auto;
}

.name {
    min-height: 1;
    padding: 1;
    text-style: bold;
    text-align: right;
    width: 10;
}

.error {
    min-height: 0;
    height: auto;
    width: 100%;
    color: red;
}

.ip_op {
    margin: 0 1 0 1;
    width: 100%;
}
