#header {
    dock: top;
    text-align: center;
    color: black;
    background: orange;
    width: 100%;
}

#h_compile {
    height: auto;
}

#h_action {
    height: auto;
}

#l_compile {
    min-height: 1;
    padding: 1;
    text-style: bold;
    text-align: right;
    width: 10;
}

#l_action {
    min-height: 1;
    padding: 1;
    text-style: bold;
    text-align: right;
    width: 10;
}

#l_input {
    margin: 0 1 0 1;
    width: 100%;
}

#l_output {
    margin: 0 1 0 1;
    width: 100%;
}
